.quiz--wrapper {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .quiz--title {
    margin: 0;
    padding: 20px;
  }
  .quiz--sub {
    padding: 20px;
  }
  .btn--wrapper {
    padding: 20px;
    .btn {
      cursor: pointer;
      width: 100px;
      height: 30px;
      margin-left: 20px;
      background-color: white;
      border: 1px solid #bbb;
      border-radius: 7px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}
