.result--wrapper {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .result--title {
    margin: 0;
    padding: 20px;
    box-sizing: content-box;
    .hr {
      padding: 10px;
      background-color: yellowgreen;
      border-radius: 50px;
    }
  }
  .result--sum {
    padding: 20px;
    .hr {
      padding: 10px;
      background-color: yellowgreen;
      border-radius: 50px;
    }
  }
  .btn--wrapper {
    padding: 20px;
    margin-top: 20px;
    .result--btn {
      cursor: pointer;
      width: 120px;
      height: 40px;
      margin-left: 20px;
      background-color: white;
      border: 1px solid #bbb;
      border-radius: 7px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
  .textArea {
    outline: none;
    resize: none;
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 20px;
  }
}
